.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

app-esri-map {
  float: left;
  width: 80%;
  height: auto;
}

app-locator {
  float: left;
  width: 20%;
  height: auto;
}
